* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #043c39;
  --secondary-color: #ed6c4f;
  --white: #ffffff;
  --white-100: #edede5;
  --white-200: #f4f4f4;
  --white-300: #bfbfbf;
  --white-400: #e0e0e0;
  --white-500: #ebebeb;
  --white-600: #edede6;
  --black: #000000;
  --black-100: #000b18;
}
body {
  font-family: "Libre Franklin", sans-serif;
  color: var(--white);
  font-weight: 400;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  line-height: 1;
  background-color: var(--primary-color);
}
.container {
  padding-inline: 20px;
  margin-inline: auto;
  width: 100%;
  max-width: 1166px;
}
.large-container {
  max-width: 1360px;
}
.btn {
  padding: 18px 50px;
  font-size: 12px;
  font-weight: 500;
  max-width: max-content;
  background-color: var(--secondary-color);
  color: var(--white);
  clip-path: polygon(4% 0%, 100% 0%, 96% 100%, 0% 100%);
  transition: all 0.3s ease-in-out;
}
.btn:hover {
  background-color: var(--primary-color);
}
.header-btn {
  background-color: var(--white);
  color: var(--black-100);
}
.header-btn:hover {
  background-color: var(--primary-color);
  color: var(--white);
}
.primary-btn {
  background-color: var(--primary-color);
}
.primary-btn:hover {
  background-color: var(--secondary-color);
}

a {
  text-decoration: none;
  display: block;
  color: currentColor;
}
img {
  max-width: 100%;
  width: auto;
  height: auto;
  display: block;
}
.img-cover {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

li {
  list-style: none;
}
h1,
.h1 {
  font-size: 60px;
}
h2,
.h2 {
  font-size: 50px;
}
h3,
.h3 {
  font-size: 30px;
}
h4,
.h4 {
  font-size: 22px;
}
h5,
.h5 {
  font-size: 20px;
}
h6,
.h6 {
  font-size: 14px;
}
