@media only screen and (max-width: 1200px) {
}
@media only screen and (max-width: 991px) {
  .header.active {
    background-color: var(--white-100);
  }
  .header.active .header-logo1 {
    color: var(--black-100);
  }
  .header {
    padding-block: 30px;
  }
  .social-media {
    display: none;
  }
  .footer-wrapper-bottom-left-content {
    flex-direction: column;
    align-items: start;
  }
  .header-wrapper-navbar-link {
    visibility: hidden;
    opacity: 0;
  }
  .navbar-link {
    padding: 20px;
    font-size: 22px;
    font-weight: 600;
  }
  .social-media-wrapper-title {
    font-size: 24px;
    margin: 20px;
  }
  .header-content {
    display: block;
    color: var(--secondary-color);
  }
  .menu-btn {
    display: block;
    cursor: pointer;
    visibility: visible;
    opacity: 1;
  }
  .header-btn {
    background-color: var(--primary-color);
    color: var(--white);
    margin-left: 20px;
  }
  .header-btn:hover {
    background-color: var(--secondary-color);
  }
  .navbar-link:hover {
    color: var(--secondary-color);
  }
  .header-wrapper-navbar-link {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--white-100);
    color: var(--black-100);
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 20px;
    padding: 30px 0;
    visibility: hidden;
    opacity: 0;
    transition: all 0.4s ease-in-out;
  }

  .header-wrapper-navbar-link.active {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
  .menu-btn.active .bar {
    background-color: var(--black-100);
  }
  .menu-btn.active .bar:nth-child(1) {
    transform: rotate(45deg) translate(7px, 7px);
  }

  .menu-btn.active .bar:nth-child(2) {
    opacity: 0;
  }

  .menu-btn.active .bar:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -6px);
  }

  .bar {
    transition: all 0.3s ease;
  }
}
@media only screen and (max-width: 768px) {
  .footer-wrapper-bottom {
    flex-direction: column;
    align-items: start;
  }
}

@media only screen and (max-width: 600px) {
  .footer-wrapper-link {
    flex-direction: column;
    align-items: start;
  }
}

@media only screen and (max-width: 429px) {
  .header-logo1 {
    color: var(--black-100);
  }
  .bar {
    background-color: var(--black-100);
  }
  .img-content {
    position: static;
    z-index: 0;
  }
  .home-hero-wrapper-img-content {
    margin-inline: -20px;
  }
  .home-hero-section {
    background-color: var(--white-100);
    padding-bottom: 0;
  }
  .home-hero-wrapper {
    display: flex;
    gap: 30px;
    flex-direction: column-reverse;
  }
  .home-hero-wrapper-para {
    color: var(--black);
    font-weight: 500;
  }
  .home-hero-wrapper-title {
    color: var(--black);
    font-size: 40px;
  }
  .home-hero-wrapper-btn {
    flex-direction: column;
    align-items: start;
    gap: 16px;
  }
  .who-we-are-section-title {
    font-size: 40px;
  }
  .who-we-are-wrapper-img {
    transform: translate(50%, 16%);
    width: 470px;
    height: 470px;
  }
  .footer-wrapper-top {
    flex-direction: column;
    align-items: start;
  }
  .footer-link {
    flex-direction: column;
    align-items: start;
  }
  .links {
    margin-bottom: 44px;
  }
  .footer-link-content-span-title {
    font-size: 18px;
  }
  .footer-wrapper-top-blog-card {
    max-width: 100%;
  }
}
