@media only screen and (max-width: 1037px) {
  .header-wrapper-content-link {
    gap: 20px;
  }
}
@media only screen and (max-width: 991px) {
  .menu-btn {
    display: block;
  }
  .header-wrapper-navbar-link {
    background-color: var(--primary-color);
    height: 100vh;
    display: none;
    width: 100%;
    position: absolute;
    top: 100%;
    right: 0;
    padding-left: 20px;
    padding-top: 60px;
    transition: all 0.3s ease-in-out;
  }

  .menu-link {
    padding-block: 20px;
    color: var(--white);
  }
  .headerbtn {
    max-width: max-content;
    margin-block: 20px;
  }
  .footer-wrapper-content {
    flex-direction: column-reverse;
    align-items: start;
  }
  .footer-wrapper-left-content {
    width: 100%;
  }
  .footer-wrapper-right-side-content {
    width: 100%;
  }
  .two-column-wrapper-right-side {
    min-height: 500px;
  }
}
@media only screen and (max-width: 768px) {
  .footer-wrapper {
    padding-block: 50px;
  }

  .footer-wrapper-right-side-content {
    margin-top: 20px;
  }
  .footer-wrapper-left-content-img {
    height: 100%;
  }
}
@media only screen and (max-width: 429px) {
  .footer-wrapper-left-content-icon {
    flex-direction: row;
  }
  .header-wrapper-logo-span-title {
    font-size: 8px;
  }
  .header-wrapper-logo-title {
    font-size: 22px;
  }
  .footer-wrapper-right-side-content {
    flex-direction: column;
  }
  .header-wrapper-content-link {
    gap: 15px;
  }
  .hero-wrapper-img {
    position: static;
  }
  .hero-wrapper {
    color: var(--blue);
    padding-block: 50px;
  }
  .btn1:hover {
    background-color: var(--primary-color);
    color: var(--white);
  }
  .btn2 {
    border: 1px solid var(--blue);
    color: var(--blue);
  }
  .btn2:hover {
    color: var(--white);
    background-color: var(--primary-color);
  }
  .about-mediation {
    padding-block: 50px;
  }
}
