/* header-section--- */
.header {
  padding-block: 26px;
}
.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-wrapper-logo {
  color: var(--blue);
}
.header-wrapper-logo:hover {
  color: var(--hover-color);
}
.header-wrapper-logo-title {
  font-weight: 400;
  font-family: "Lyons Serif", sans-serif;
  line-height: 1;
}
.header-wrapper-logo-secondary-title {
  display: flex;
  align-items: center;
  gap: 4px;
}
.header-wrapper-logo-span-title {
  font-weight: 200;
  font-size: 12px;
}

.header-wrapper-navbar-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  font-weight: 800;
}
.menu-link {
  color: var(--primary-color);
}
.menu-link:hover {
  color: var(--hover-color);
}
.menu-btn,
.close-btn {
  display: none;
}
.footer-section {
  background-color: var(--blue);
  color: var(--white);
}
.footer-section-content {
  position: relative;
  z-index: 2;
}
.footer-wrapper {
  padding-block: 100px;
}
.footer-wrapper-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.footer-wrapper-left-content-img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transform: translateX(-10%);
}
.footer-wrapper-left-content-link {
  margin-top: 100px;
}
.header-wrapper-content-link {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.footer-link {
  color: var(--white);
}
.footer-link:hover {
  color: var(--hover-color);
}
.footer-wrapper-right-side-content {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  gap: 150px;
}

.footer-wrapper-left-content {
  display: flex;
  flex-wrap: wrap;
  align-items: end;
  gap: 100px;
}

.footer-wrapper-left-content-icon {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.footer-wrapper-right-content {
  width: 160px;
}
.footer-wrapper-right-content-para {
  margin-block: 30px;
  font-weight: 100;
  color: var(--gray);
}
.footer-directions {
  color: var(--gray);
}
.footer-directions:hover {
  color: var(--hover-color);
}
.footer-number {
  color: var(--white);
}
