header {
  
  padding-top: 58px;
 background-color: var(--unnamed-color-000000);
  color: var(--unnamed-color-ffffff);
  text-transform: uppercase;
 


 
}
.img-logo1 {
  max-width: 256px;
  min-height: 50px;
 
}
.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:20px;
   
}
.header-nav-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:42px;

}
.right-side{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:20px;
}
/* --------------------hero-section----------------*/
.hero-section{
    position: relative;
    background: linear-gradient(180deg,rgba(0, 0, 0, 0.47) 0%, rgba(0, 0, 0, 0.47) 50%);
    top:-110px;
    
    
}
.hero-wrapper{
    position: fixed;
    top:0; 
    z-index: -1;
   
}
/* ----------footer-section--------------- */


.footer-section{
    margin-top: 100px;
    background-color: var(--unnamed-color-000000);
    color: var(--unnamed-color-ffffff);
    padding-block: 106px 92px;
  
}